<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- Aircraft Crashes Database</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='mapd3.js')}}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Aircraft Crashes Database</a>
    </nav>
    <hr>
    
    <p>Sample Query:</p>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    
    
    <br>
    <p>USA Map using d3.js:</p>
    <div class='row'>
    	<div id= "svgHolder" class='col-12'>
            <svg id='mapSvg'></svg>
    	</div>
    </div>
    
    
</body>
</html>
