<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- Aircraft Crashes Database</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='mapd3.js')}}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Aircraft Crashes Database</a>
    </nav>
    <hr>
    <p>Sample Query:</p>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    
    <!--
    Example of defining user input for db queries:
    
    <form action="{{ url_for('personadd')}}" method="post">
          <h5>Enter the user Details</h5>
          <div>
              <input type="text" name="pname" placeholder="pname">
          </div>
          <div>
              <input type="text" name="color" placeholder="color">
          </div>
          <div>
              <button >Submit</button>
          </div>
      </form>
    -->
    
    <p>User query: (only gui implemented right now)</p>
    <div class="query1">
    	<label for="date">Query: Select aircraft on given date</label>
    	<input type="textarea" value="2/1/2003"></input>
    	<input type="button" value="Query" name="buttonDate" id="buttonDate"></input>
    	<label>Result</label>
    </div>
    
    <p>USA Map using d3.js:</p>
    <div class='row'>
    	<div id= "svgHolder" class='col-12'>
            <svg id='mapSvg'></svg>
    	</div>
    </div>
    
    
</body>
</html>
