{% extends 'base.html' %}

{% block content %}
    
    <div class="container-fluid">
    	<div class="row justify-content-center">
    		<div class="col-10">
    		
		    <!-- Test operation (count aircraft) -->
		    <form action="{{ url_for('countaircraft')}}" method="post">
			  <h5>Sample Query 1<br>Enter the aircraft model that you would like to count("A234")</h5>
			  <div>
			      <select id="aircraft_model" name="aircraft_model" placeholder="aircraft_model">
				<option value=""></option>
			      	<option value="A234">A234</option>
			      	<option value="B52">B52</option>
			      	<option value="D019">D019</option>
			      	<option value="D339">D339</option>
			      	<option value="ID232">ID232</option>
			      </select>
			  </div>
			  <div>
			      <button >Submit</button>
			  </div>
		      </form>
		      
		    <p>How many aircraft are in the table?</p>
		    {%for var in result %}
			<div class="res">
				<p>{{ var }}</p>
			</div>
		    {% endfor %}
		    
    		</div>
    		<div class="col-10">
    		
		    <!-- Select aircraft with an incident on user date -->
		    <form action="{{ url_for('aircraftIncidentOnDate')}}" method="post">
			  <h5>Sample Query 2<br>Enter the date which you would like to view aircraft accidents ("1 February 2003")</h5>
			  <div>
			      <input type="text" name="incident_date" placeholder="incident_date">
			  </div>
			  <div>
			      <button >Submit</button>
			  </div>
		      </form>
		    <p>Query result:</p>
		    {%for var in resultQuery1 %}
			<div class="res">
				<p>{{ var }}</p>
			</div>
		    {% endfor %}
    		
    		</div>
    		<div class="col-10">
    		<!-- Select all incidents by aircraft model -->
		    <form action="{{ url_for('incidentsByModel')}}" method="post">
			  <h5>Sample Query 3<br>Enter the model whose incidents you would like to view ("A234")</h5>
			  <div>
			      <select id="aircraft_model2" name="aircraft_model2" placeholder="aircraft_model2">
				<option value=""></option>
			      	<option value="A234">A234</option>
			      	<option value="B52">B52</option>
			      	<option value="D019">D019</option>
			      	<option value="D339">D339</option>
			      	<option value="ID232">ID232</option>
			      </select>
			  </div>
			  <div>
			      <button >Submit</button>
			  </div>
		      </form>
		    <p>Query result:</p>
		    {%for var in resultQuery2 %}
			<div class="res">
				<p>{{ var }}</p>
			</div>
		    {% endfor %}
    		</div>
    		<div class="col-10">
    		
		    <!-- Insert an aircraft -->
		    <form action="{{ url_for('insertAircraft')}}" method="post">
			  <h5>Sample Query 4<br>Enter the info for the aircraft you would like to insert ("registration number 142, model B52, and Make Honeywell")</h5>
			  <div>
			      <select id="aircraft_model_insert" name="aircraft_model_insert" placeholder="aircraft_model_insert">
				<option value=""></option>
			      	<option value="A234">A234</option>
			      	<option value="B52">B52</option>
			      	<option value="D019">D019</option>
			      	<option value="D339">D339</option>
			      	<option value="ID232">ID232</option>
			      </select>
			  </div>
			  <div>
			      <select id="aircraft_make_insert" name="aircraft_make_insert" placeholder="aircraft_make_insert">
			      	<option value="Airbus">Airbus</option>
			      	<option value="Boeing">Boeing</option>
			      	<option value="Ferrari">Ferrari</option>
			      	<option value="Ford">Ford</option>
			      	<option value="Honeywell">Honeywell</option>
			      	<option value="Sus">Sus</option>
			      </select>
			  </div>
			  <div>
			      <input type="text" name="aircraft_reg_num_insert" placeholder="aircraft_reg_num_insert">
			  </div>
			  <div>
			      <button >Submit</button>
			  </div>
		      </form>
		    <p>Query result:</p>
		    {%for var in result_insert %}
			<div class="res">
				<p>{{ var  }}</p>
			</div>
		    {% endfor %}
		    
    		</div>
    		<div class="col-10">
    		
		    <br><form action="{{ url_for('user_entry_to_sql')}}" method="post">
		    <h5>SQL Alchemy Querying<br>Enter Aircraft Informaion</h5>
			  <div>
			      <input type="text" name="aircraft_reg_num" placeholder="aircraft_reg_num">
			  </div>
			  <div>
			      <select id="aircraft_model" name="aircraft_model" placeholder="aircraft_model">
				<option value=""></option>
			      	<option value="A234">A234</option>
			      	<option value="B52">B52</option>
			      	<option value="D019">D019</option>
			      	<option value="D339">D339</option>
			      	<option value="ID232">ID232</option>
			      </select>
			  </div>
			  <div>
			      <select id="aircraft_make" name="aircraft_make" placeholder="aircraft_make">
				<option value=""></option>
			      	<option value="Airbus">Airbus</option>
			      	<option value="Boeing">Boeing</option>
			      	<option value="Ferrari">Ferrari</option>
			      	<option value="Ford">Ford</option>
			      	<option value="Honeywell">Honeywell</option>
			      	<option value="Sus">Sus</option>
			      </select>
			  </div>
			  <p>Which Incident is this aircraft associated with?</p>
			  <div>
			      <input type="text" name="aircraft_event_ntsb_num" placeholder="aircraft_event_ntsb_num">
			  </div>
		   <h5>Enter Casualties Informaion</h5>
			  <div>
			      <input type="text" name="casualties_id" placeholder="casualties_id">
			  </div>
			  <div>
			      <input type="text" name="casualties_first_name" placeholder="casualties_first_name">
			  </div>
			  <div>
			      <input type="text" name="casualties_last_name" placeholder="casualties_last_name">
			  </div>
			  <div>
			      <input type="text" name="casualties_dob" placeholder="casualties_dob">
			  </div>
			  <div>
			      <input type="text" name="casualties_age" placeholder="casualties_age">
			  </div>
			  <div>
			      <select id="casualties_sex" name="casualties_sex" placeholder="casualties_sex">
				<option value=""></option>
			      	<option value="F">F</option>
			      	<option value="M">M</option>
			      </select>
			  </div>
			  <p>Which Incident is this casualty associated with?</p>
			  <div>
			      <input type="text" name="casualties_event_ntsb_num" placeholder="casualties_event_ntsb_num">
			  </div>
		    <h5>Enter Incidents Informaion</h5>
			  <div>
			      <input type="text" name="incident_event_ntsb" placeholder="incident_event_ntsb">
			  </div>
			  <div>
			      <select id="incident_event_severity" name="incident_event_severity" placeholder="incident_event_severity">
				<option value=""></option>
			      	<option value="Minor">Minor</option>
			      	<option value="Mild">Mild</option>
			      	<option value="Damaging">Damaging</option>
			      	<option value="Severe">Severe</option>
			      	<option value="Catastrophic">Catastrophic</option>
			      </select>
			  </div>
			  <div>
			      <input type="text" name="incident_event_date" placeholder="incident_event_date">
			  </div>
			  <div>
			      <input type="text" name="incident_event_location" placeholder="incident_event_location">
			  </div>
			  <p>Which aicraft is this incident associated with?</p>
			  <div>
			      <input type="text" name="incident_aircraft_reg_num" placeholder="incident_aircraft_reg_num">
			  </div>
			  <div>
			      <button >Submit</button>
			  </div>
		    </form>
		    
		    <p>Search result</p>
			<div class="res">
				<p>{{ resultSearch }}</p>
			</div>
    		</div>
    	</div>
    </div>
    
    
    
    
    
    
      
{% endblock %}
